/* Less file for support*/
#titleSupport{
	    width: 528px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
#textSupport{
	width: 830px;
    font-size: 16px;
    text-align: center;
    margin: auto;
        margin-bottom: 70px;
}