<div class="panel panel-default" style="    height: 680px;">
	<div class="panel-heading">
		<h2 id='title'>{{model.title}}</h2>
		
	</div>
    <div id='carrouselContainer'class="row col-6 col-offset-4">
   	   <div  >
		    <carousel interval="myInterval" no-wrap="noWrapSlides">
		      <slide ng-repeat="item in model.myImageArray" active="slide.active">
		        <img ng-src="{{item}}" id="imageGallery">
		        <div class="carousel-caption">
		          
		        </div>
		      </slide>
		    </carousel>
		 </div>
      <a id='button' ng-click="model.dismiss()" class="  btn btn-lg wrum-positive-button btn-block">Ok</a>
    </div>
</div>