/* Less file for showImageExamples*/
#carrouselContainer{
	    margin: 20px;
	    ol{
	    	   visibility: hidden;
	    }
}
#title{
	align-items: center;
  	display: flex;
  	justify-content: center;
}
#imageGallery{
	margin:auto;     
	width: 363px; 
    height: 474px;
}

#button{    
	margin-top: 21px;
    margin-left: initial;
}

