<div class="panel-body">
	<ul class="timeline">
		<li ng-class="{'timeline-inverted':model.isInverseSide($index)}" ng-repeat="campaign in campaigns">
			<div class="timeline-badge"><i class="fa fa-check"></i></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">{{campaign.name}}</h4>
					<p><small class="text-muted"><i class="fa fa-clock-o"></i> {{campaign.date_created | date:"MMM d yyyy h:mma"}}</small>
					</p>
				</div>
				<div class="timeline-body">
					<ul>
						<li><strong>Type:</strong> {{campaign.type}}</li>
						<li><strong>Start Date:</strong> {{campaign.date_start | date:"MMM d yyyy h:mma"}}</li>
						<li><strong>End Date:</strong> {{campaign.date_end | date:"MMM d yyyy h:mma"}}</li>
						<li><strong>Send to mobile?</strong> {{campaign.send_phone}}</li>
						<li><strong>Views:</strong> {{campaign.views}}</li>
						<li><strong>Redemptions:</strong> {{campaign.redemptions}}</li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</div>