.create-campaign {
	margin-bottom: 20px;

	.create-campaign-title {
		text-align: center;
	}
}
#mobileImage{
	height: 470px;
	width: 234px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

#myImage {
	/*clip: rect(9px,187px,234px,0px);*/
	width: 189px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
#myImageContainer{
	overflow: hidden;
    width: 189px;
    height: 253px;
    margin-top: 114px;
    margin-left: 55px;

}
.timerPicker{
	margin-top: -34px;
}

#disableInput{
	    width: 460px;
    height: 535px;
    position: absolute;
 
    z-index: 1;
}
#info-container{
	margin-left: 10px;
    margin-right: 10px;
}
#containerCancelButton{
	float:right;
	a{
		width: inherit;
    float: right;
    margin-right: 14px;
	}
}

