<div class="create-campaign">
	<div class="create-campaign-title">
		<h2>{{model.titleModal}}</h2>
		<hr>
	</div>

	<div id='special-info'class="form-group">
		<p>Do you have a promotion going that you would like to advertise? Then you need to create a Special.
		Create your Special the same way you created your mobile home page. You can do this now or return later.</p>
		<p>1. Create a flyer in Microsoft Word or use your preferred tool. Click <span class="link-between-global" href="" ng-click='model.showImageExamples("special")' >here</span> for some examples. Notice that there are three types of Specials.
		<p>- Informational</p>
		<p>- One time redeemable</p>
		<p>- Multiple times redeemable</p>
		<p>All Specials can have an expiration date.</p>
		<p>2. Save the file as either a .pdf. or .jpeg or .png.</p>
		<p>3. Choose the type of Special. (You can make multiple
		types of Specials.) If time sensitive or redeemable enter
		in the appropriate data.</p>
		<p>4. Then click on the mobile image to upload your Special.</p>
								
	</div>
	<div class="row">
	<div id='disableInput' ng-show='!model.canEditBool'></div>
		<div class="col-md-6 mhp-step">
			<div input-mobile url='{{imageSrc}}' type='edit'></div>
			<a href ng-show="model.canEditBool">Click on the mobile to add your Special</a>
		</div>

		<form name="campaingInfoForm" role="form">
			<div class="col-md-5" id='info-container'>
				<p ng-show='!model.canEditBool'><strong>Views:</strong> {{model.views}}</p>
                <p ng-show='!model.canEditBool'><strong>Redemptions:</strong> {{model.type==="info"?'N/A':model.redemptions}}</p>
				<p >Name of special:</p>
				<div class="form-group">
					<input class="form-control" ng-model="model.name" type="text" ng-disabled='!model.canEditBool' maxlength="50" required>
				</div>
				<!--
				<div class="form-group">
					<p>Description in English (Optional):</p>
					<input class="form-control" ng-model="model.descriptionEnglish" type="text"  ng-disabled='!model.canEditBool'>
				</div>
				-->
				
				<div class="form-group">
					<p>Type of Special:</p>
					<select class="form-control"  ng-model="model.type" ng-disabled='!model.canEditBool'>
						<option value="info">Informational</option>
						<option value="one_time">One time Redeemable</option>
						<option value="multi">Multiple Times Redeemable</option>
					</select>
				</div>

				<div class="form-group">
						<p>Start Date</p>
						<input class="form-control " ng-model="model._dateStart" type="text"  ng-disabled='true' ng-show='!model.canEditBool'>
				</div>
				<div class="form-group row">
					<div class="col-md-6">						
						<p class="input-group" ng-show='model.canEditBool'>
							<input type="text" class="form-control" ng-change="changedDateStart()" datepicker-popup="{{format}}" ng-model="dtStart" is-open="openedStart" min-date="minDate" max-date="'2050-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-disabled='!model.canEditBool' />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
					<div class="timerPicker col-md-6" ng-show='model.canEditBool'>
						<timepicker ng-model="mytimeStart" ng-change="changedTimeStart()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					</div>
				</div>
				
				<div class="form-group">
						<p>End Date</p>						
						<input class="form-control" ng-model="model._dateEnd" type="text"  ng-disabled='true' ng-show='!model.canEditBool'>
				</div>
				<div class="form-group row" >
					<div class="col-md-6">						
						<p class="input-group" ng-show='model.canEditBool'>
							<input type="text" class="form-control" ng-change="changedDateFinish()" datepicker-popup="{{format}}" ng-model="dtFinish" is-open="openedFinish" min-date="minDate" max-date="'2050-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-disabled='!model.canEditBool'/>
							<span class="input-group-btn" >
								<button type="button" class="btn btn-default" ng-click="openFinish($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
					</div>
					<div class="timerPicker col-md-6" ng-show='model.canEditBool'>
						<timepicker ng-model="mytimeFinish" ng-change="changedTimeFinish()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"  ></timepicker>
					</div>

					 <strong ng-show="!model.datesCorrectBool"style="color:red; margin-left: 17px;"><i class="fa fa-exclamation-triangle"></i>Start Date Must Be Less Than End Date</strong>
				</div>

				 <div class="row col-md-12 buttonsContainer" >
                    <div class='col-md-6' ng-show="createBool">
						<input type="button" value="Save" id="updateVendorInfoButton" ng-click="createCampaing()" class="btn btn-lg wrum-positive-button btn-block" ng-show="createBool"  ng-disabled="model.isProcessing"/>
                    </div>
					 <div class='col-md-6' ng-show="!createBool">
						 <a class="btn btn-lg wrum-positive-button btn-block" ng-click="deleteCampaign()"><i class="fa fa-trash-o"></i></a>
					 </div>
                    <div class='col-md-6' >
                       <a  class="btn btn-lg wrum-positive-button btn-block" ng-click="model.dismissDialog()" >Cancel</a>
                    </div>
                </div>
                <span style="color: #024457;">Your MHP and Specials will appear on VRuM mobile faster and crisper if you upload a file smaller than 500K.</span>
			</div>
		</form>
	</div>
</div>