/* Less file for login*/
.absolute-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @primary-color;

	.container {
	  left: 0;
	  right: 0;
	  bottom: 0;
	  margin-top: 5vh;

	}
}

#mydiv {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:2000px;
  z-index:100000000;
  background-color:#000000;
  opacity: .3;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px;  /* -1 * image height / 2 */
  display: block;
}