<div class="absolute-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <div align="center">
              <img src="assets/logo.png" height="30%" width="30%"/>
            </div>
          </div>
          <div class="panel-body">
            <h4 class="panel-title">Please Sign In</h4><br>
            <form role="form" novalidate ng-submit="model.onLogin()" ng-controller="LoginController">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="Email" name="email" type="email" ng-model="model.email" ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/" autofocus>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password" ng-model="model.password" value="">
                </div>
                <div class="form-group" ng-show="model.showValidatedMessage">
                  <p>Your account has been successfully validated. Please log in.</p>
                </div>
                <div class="checkbox">
                  <label>
                    <input name="remember" type="checkbox" ng-model='model.remember' value="Remember Me">Remember Me
                  </label>
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <input type="submit" class="btn btn-lg wrum-positive-button btn-block" value="Login"></input>
                <h5 class="pull-right">I Want to <a href="#" ui-sref="signup">Create an Account</a></h5>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>