/* Less file for EditMHP*/
#mobileImage{
	height: 470px;
	width: 234px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

#myImage {
	width: 189px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
#myImageContainer{
	overflow: hidden;
    width: 189px;
    height: 253px;
    margin-top: 114px;
    margin-left: 55px;

}
#updateVendorButton{
	      margin-left: 20px;
    margin-right: 20px;
    width: initial;
    margin-top: 222px;
}
#textMHP{
	padding-right:20px;
	padding-left:20px;
}