<div class="create-campaign">
	<div class="create-campaign-title">
		<h2>Update My Mobile Home Page</h2>
		<hr>
	</div>
	<div class="row">
		<div class="col-md-6 mhp-step">
			<div class="image-container">
				<div input-mobile url='{{imageSrc}}' type='edit'></div>

			</div>
			<a href>Click on the mobile to add your mobile home page</a>
		</div>
		<div class="col-md-6">
			<div id='textMHP'>
				<p>Here’s what you need to do to create your mobile home page. It’s as easy as making a flyer. You can do this now or return later.</p>
				<p>1. Create a flyer in Microsoft Word or use your preferred tool. Click <span class="link-between-global" href="" ng-click='model.showImageExamples("mhp")' >here</p> for some examples.</span>
				<p>2. Save the file as either a .pdf. or .jpeg or .png or .gif.</p>
				<p>3. Click on the mobile image to upload your mobile home page.</p>
				
			</div>
			<div class="row col-md-12 buttonsContainer" >
                    <div class='col-md-6'>
                    	<a id="updateVendorButton"class="btn btn-lg wrum-positive-button btn-block"ng-click="model.editMHP()" >Change</a>
                    </div>
                    <div class='col-md-6' >
                       <a  id='updateVendorButton'class="btn btn-lg wrum-positive-button btn-block"ng-click="model.dismissDialog()" >Cancel</a>
                    </div>
                    
            </div>	
            <span>Your MHP and Specials will appear on VRuM mobile faster and crisper if you upload a file smaller than 500K.</span>						
			
				
			
		</div>
	</div>
	
</div>


