<div >
  <div class="panel panel-default">
    <div id="panel-campaign"class="panel-heading">
      <i class="fa fa-cog fa-fw"></i> Change Password
    </div>

    <div id="formStyle"  >
      <form name="bussinesInformationForm" role="form"  >
          <fieldset>
            <h5><strong>Current Password</strong></h5><input class="form-control" type="password" ng-model="model.oldPassword" required>
            <h5><strong>New Password</strong></h5><input class="form-control" type="password" ng-model="model.newPassword" required>
            <h5><strong>Confirm New Password</strong></h5><input class="form-control" type="password" ng-model="model.repeatNewPassword" required>
            <div >
              <div class="row col-md-12 buttonsContainer" >
                      <div class='col-md-6'>
                        <a id="changePassButton" class="btn btn-lg wrum-positive-button btn-block" ng-click="model.changePassword()" >Change</a>
                      </div>
                      <div class='col-md-6' >
                         <a  id='changePassButton' class="btn btn-lg wrum-positive-button btn-block" ng-click="model.dismissDialog()" >Cancel</a>
                      </div>
              </div>
            </div>
          </fieldset>
      </form>
      
    </div>
  </div>
</div>
