/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */

html {
	background-color: @primary-color;
}

.form-control:focus {
	border-color: rgb(0, 120, 0) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 120, 0, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 120, 0, 0.6) !important;
}

input.ng-invalid.ng-dirty {
	border-color: #f00 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

input.ng-valid.ng-dirty {
	border-color: rgb(0, 120, 0);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 120, 0, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 120, 0, 0.6);
}

a {
	&:link, &:visited, &:hover, &:active {
		text-decoration: none !important;
	}
	
	&:link {
		color: @primary-color;
	}

	&:visited {
		color: @primary-color;
	}

	&:hover {
		color: @secondary-color !important;
	}

	&:active {
		color: @secondary-color;
	}
}

/**
 * Especial buttons
 */
.wrum-positive-button {
	.button-variant(@third-color; @secondary-color; @secondary-color);

 	&:hover {
 		.button-variant(@third-color; @primary-color; @primary-color);
 		color: @third-color !important;
 	}
}

.wrum-settings-button {
	margin-left: 10px !important;
	.button-variant(#333; #ddd; #f5f5f5);

 	&:hover {
 		.button-variant(@third-color; @primary-color; @primary-color);
 		color: @third-color !important;
 	}
}
.title-centered{
	display: flex;
  justify-content: center;
}
.link-between-global{
	display: inline-block;
	cursor: pointer;
	color: #89AC84;
}
.container{
	width: 95vw !important;
}


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/login/login.less';
@import '../app/signup/signup.less';
@import '../app/dashboard/dashboard.less';
@import '../app/payments/payments.less';
@import '../common/sbAdminAngular/sbAdminAngular.less';
@import '../common/campaign/campaign.less';
@import '../common/alerts/alerts.less';
@import '../common/ChangePassword/ChangePassword.less';
@import '../common/inputFileDirective/inputFileDirective.less';
@import '../common/EditMHP/EditMHP.less';
@import '../common/UpdateVendorInfo/UpdateVendorInfo.less';
@import '../common/showImageExamples/showImageExamples.less';
@import '../common/MobilePreview/MobilePreview.less';
@import '../app/support/support.less';