<div class="dashboard-container">
    <div class="row page-header-container">
        <div class="col-lg-12">
            <a class="btn wrum-settings-button pull-right page-header" ng-click="model.goToDashboard()"><i class="fa fa-tasks fa-fw"></i></a>
            <h1 class="page-header">Payments Dashboard</h1> <h5> You are Signed as: <span>{{model.view.vendorEmail}}</span></h5>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default" ng-show="!model.vendorInfo.stripe || !model.vendorInfo.stripe.is_active">
        <div id="panel-campaign" class="panel-heading">
            <i class="fa fa-book"></i> Available Plans
        </div>
        <div class="panel-body">
            <div id="plansCards" class="col-md-3 panel" ng-repeat="plan in model.availablePlans" ng-class="{'plansCardsSelected': plan.isSelected}" ng-click="model.selectPlan(plan)">
                <div>
                    <h3><strong>{{plan.name}}</strong></h3>
                    <p><strong>Price :</strong> {{plan.currency}}${{plan.amount/100}}</p>
                </div>
            </div>
            <input type="hidden" name="plan" ng-value="model.view.selectedPlan.id">
            <input type="hidden" name="email" ng-value="model.view.vendorEmail">
            <div class="row col-md-12 buttonsContainer" >
                <div class='col-md-2'>
                    <button id="paymentButton" class="btn btn-lg wrum-positive-button btn-block">Purchase</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="panel panel-default" ng-show="model.vendorInfo.stripe.is_active">
        <div id="panel-campaign" class="panel-heading">
            <i class="fa fa-book"></i> Your current plan
        </div>
            <div class="panel-body" ng-click="model.selectPlan(plan)">
                <div>
                    <h3><strong>{{model.vendorInfo.stripe.current_plan_name}}</strong></h3>
                    <div><!--Informacion opcional -->
                        <p><strong>Payment Date:</strong> {{model.vendorInfo.stripe.current_period_start | date:'medium'}}</p>
                        <p><strong>Good Until :</strong> {{model.vendorInfo.stripe.current_period_end | date:'medium'}}</p>
                       <!-- <p><strong>Last Payment :</strong> {{model.vendorInfo.stripe.last_successfull_payment | date:'medium'}}</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default"  ng-show="model.vendorInfo.stripe.is_active">
        <div id="panel-campaign"class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Payment History
        </div>
        <div class="panel-body">
            <table class="responstable">
                <tr>
                    <th>Event Type</th>
                    <th>Date</th>
                    <th>Currency</th>
                    <th>Amount</th>
                </tr>
                <tr ng-repeat="paymentEntry in model.paymentHistoryItems">
                    <td>{{model.resolveLabelForEventType(paymentEntry.type)}}</td>
                    <td>{{paymentEntry.date_created | date:'medium'}}</td>
                    <td>{{paymentEntry.object.data.object.currency.toUpperCase()}}</td>
                    <td>{{model.formatAmount(paymentEntry.object.data.object.amount)}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
