/* Less file for MobilePreview*/
.myImageContainer1{
  	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    margin-top: 105px;//SIGNUP
    width: 189px;
    height: 317px;
}

.myImageContainer2{
  	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    margin-top: 191px;//PARA DASHBOARD
    width: 189px;
    height: 317px;
}
   