<h4 ><strong>{{model.titlePreview}}</strong></h4>
<div class="image-container">
	<img id='mobileImage' src="assets/mobile_mhp.png">
	<div class='myImageContainer1' ng-class="{'myImageContainer2': dash}">
		<img id='myDirectiveImage'ng-src="{{imageSrc}}" ng-show='!model.isPDFBool'>
		<iframe id="myDirectivePDF"ng-src="{{pdfSrc}}" ng-show='model.isPDFBool'></iframe>
	</div>	

</div>