#myImage {
	/*clip: rect(9px,187px,234px,0px);*/
	width: 302px;
}
#myDirectiveImageContainer{
	overflow: hidden;
    width: 189px;
    height: 317px;
    margin-top: 104px;
    margin-left: 55px;

}
#myDirectivePDF{
    height: 128%;
     margin-left: -27%; 
     margin-top: -32%;
}
#myDirectiveImage{
        width: 189px;
    max-height: 302px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto; 
    /* margin-top: 6px; */
}