<div class="image-container">
	<img id='mobileImage' src="assets/mobile_mhp.png">
	<div id='myDirectiveImageContainer'>
		<img id='myDirectiveImage'ng-src="{{imageSrc}}" ng-show='!model.isPDFBool'>
		<iframe id="myDirectivePDF"ng-src="{{pdfSrc}}" ng-show='model.isPDFBool'></iframe>
	</div>
	
	<div>
		<input  id="input-file-mph" type="file" ng-init='model.myFile = "assets/no_file.png"'file-model="model.myFile" ng-file-select="onFileSelect($files)" image-src="imageSrc"   onchange="angular.element(this).scope().fileChange()" >
	</div>

</div>