
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-exclamation-triangle"></i> Alert
        </div>

            <div id='alertContainer'class="row col-6 col-offset-4">
           	  <h4><strong>{{model.messageShow}}</strong></h4>
              <input type="button" value="Ok"  ng-click="model.dismiss()" class="  btn btn-lg wrum-positive-button btn-block"/>
            </div>
            
          
          
       </div>

