/* Less file for signup*/
.container .signup-container {
/* margin-top: -368px; */
}
.steps-container {
	.step {
		//border: solid #000 2px;
		//background-color: @primary-color;

		&:after {
			display: block;
			content: '';
			height: 4px;
			width: 100%;
			background-color: @secondary-color;
		}
		&.selected {
			&:after {
				background-color: @third-color;
			}
		}
		&.active {
			&:after {
				background-color: @primary-color;
			}
		}
	}
	.invisible {
		visibility: hidden;
	}
}

.featured {
	border: #ddd solid 1px;
  padding: 10px;
  border-radius: 10px;
  margin: -10px -10px 10px -10px;

  div:nth-last-child(1) {
  	margin-bottom: 0;
  }
}

.info-container {
	a {

		span {
			font-size: 14px;
			font-weight: lighter;
			display: none;
			font-style: italic;
		}
	
		&:link {
			color: #000 !important;
		}

		&:visited {
			color: #000 !important;
		}

		&:hover {
			color: @primary-color !important;

			span {
				display: inline-block !important;
			}
		}

		&:active {
			color: #000 !important;
		}
	}

	.wrum-positive-button:hover {
		color: #fff !important;
	}
}

.mhp-step {
	a{
		display: flex;
    justify-content: center;
    margin-top: 20px;
	}
	.image-container {
		width: 300px;
		height: 484px;

		margin: 0 auto;
		text-align: center;
		/*background-color: gainsboro;*/
		line-height: 300px;
		position: relative;
		overflow: hidden;

		#mobileImage{
			height: 470px;
			width: 234px;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
		}

		#myImage {
			width: 189px;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
		}

		div {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;

			input {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				opacity: 0;
			    width: 299px;
    			height: 486px;
				transform: alpha(opacity=0);
			}
		}
	}
}
.preview{
	margin-top: 158px !important; 
}

#myImageShow {
	/*clip: rect(9px,187px,234px,0px);*/
	    width: 177px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
#myImageContainer{
	overflow: hidden;
    width: 189px;
    height: 253px;
    margin-top: 114px;
    margin-left: 55px;


}
#myPreviewImageContainer{
	 margin-top: 0px;
    margin-left: 0px;
    z-index: 1;
    width: 189px;
    height: 253px;
    overflow: hidden;

}
#myPdfContainer{
    margin-top: 0px;
    margin-left: 0px;
    z-index: 1;
    width: 189px;
    height: 253px;
    overflow: hidden;
}   

.confirmStepBox{
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 225px;
    padding: 0px 10px 0px 10px;
        margin-bottom: 28px;

    h4{
	    display: flex;
   		justify-content: center;
    }

	p{
		    font-size: 15px;
    color: #656464;
	}
	a{
		margin: 0px 10px 10px 0px;
	}
}

.confirmStepBoxImage{
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
        margin-bottom: 20px;
    height: 555px;
    padding: 0px 10px 0px 10px;

    h4{
	    display: flex;
   		justify-content: center;
    }

	p{
		    font-size: 15px;
    color: #656464;
	}
	a{
		margin: 20pxpx 10px 10px 0px;
	}
}
.confirmStepBoxSelected{
  box-shadow: 0px 0px 0px 05px #EFF7EE inset;
  
}
#link-between{
	    display: initial;
	    color: #97AC84 !important;
}
#special-info{
	    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 30px;
}
#buttons-mhp{
	  //  margin-top: 222px;
}
.timePic{
	margin-top: 10px;
}
#contactInfoButton{
	margin-bottom: 10px;
}
#zipcodeContainer{
	height: 69px;
}
.stepBoxTitle{
	    height: 107px;
}
#validZipCode{
	    color: red;
    position: absolute;
    margin-top: -28px;
    margin-left: 70px;
}
.validPhone1{
	    color: red;
    position: absolute;
    margin-top: -28px;
    margin-left: 115px;
}
.validPhone2{
	    color: red;
    position: absolute;
    margin-top: -28px;
    margin-left: 209px;
}