v<div class="absolute-container">
	<div class="container signup-container">
		<div class="row">
			<div class="col-md-12 ">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div align="center">
							<img src="/assets/logo.png" height="10%" width="10%"/>
						</div>
					</div>
					<div class="panel-body">
						<h4 id="stepTitle"class="panel-title">{{model.stepwording}}</h4><hr>
						<div class="steps-container row">
							<ul class="nav nav-tabs nav-justified col-md-10">
								<li role="presentation" ng-click="model.onClickStep(0)" ng-class="{'active':model.isSelected(0), 'disabled': model.isDisabled(0)}">
									<a class="stepBoxTitle"href>
										<h5>Step 1</h5>
										<p>Vendor Information</p>
									</a>
								</li>
								<li role="presentation" ng-click="model.onClickStep(1)" ng-class="{'active':model.isSelected(1), 'disabled': model.isDisabled(1)}">
									<a class="stepBoxTitle"href>
										<h5>Step 2</h5>
										<p>Contact Information</p>
									</a>
								</li>
								<li role="presentation" ng-click="model.onClickStep(2)" ng-class="{'active':model.isSelected(2), 'disabled': model.isDisabled(2)}">
									<a class="stepBoxTitle"href>
										<h5>Step 3</h5>
										<p>Create a Mobile Home Page</p>
									</a>
								</li>
								<li role="presentation" ng-click="model.onClickStep(3)" ng-class="{'active':model.isSelected(3), 'disabled': model.isDisabled(3)}">
									<a class="stepBoxTitle"href>
										<h5>Step 4</h5>
										<p>Create a Special</p>
									</a>
								</li>
								<li role="presentation" ng-click="model.onClickStep(4)" ng-class="{'active':model.isSelected(4), 'disabled': model.isDisabled(4)}">
									<a class="stepBoxTitle"href>
										<h5>Step 5</h5>
										<p>Confirm and Finish</p>
									</a>
								</li>
							</ul>
						</div>
						<div class="panel-body">
							
						</div>
						<!-- Vendor Information step -->
						<!-- Vendor Information step -->
						<!-- Vendor Information step -->
						<form  name="vendorInfoStepForm" role="form" ng-show="model.isSelected(0)" novalidate>
							<fieldset>
								<div class="col-md-6">
									<div class="form-group">
										<h5><strong>Name of Business</strong></h5>
										<input class="form-control" ng-model="model.bussiness.name"  type="text" maxlength="50" autofocus required>
									</div>									
									
									<div class="form-group " >									
										<h5><strong>Zip Code</strong></h5><strong ng-show="!model.isValidZipCode" id="validZipCode"><i class="fa fa-exclamation-triangle"></i>Please re-enter a valid zip code.</strong>
										<input placeholder="Enter your zip code and your city and state will automatically appear"  class="form-control" ng-model="model.bussiness.zipCode" maxlength="5"  ng-change="getZipCode()" type="text" tooltip="Just write your zip code and the city and state will be fill automatically." tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-enable="!model.bussiness.zipCode" novalidate required>
									</div>	
									<div class="form-group">
										<h5 ><strong>City</strong></h5>
										<input class="form-control" ng-model="model.bussiness.city"  type="text" ng-disabled="true"required>
									</div>
									<div class="form-group">
										<h5 ><strong>State</strong></h5>
											<input class="form-control" ng-model="model.bussiness.state"  type="text" ng-disabled="true"required>
									</div>		
									<div class="form-group">
										<h5><strong>Address 1</strong></h5>
										<input class="form-control" ng-model="model.bussiness.address1" maxlength="50" type="text" required>
									</div>					
									
								</div>
								
								<div class="col-md-6">		

									<div class="form-group">
										<h5><strong>Address 2 (Optional)</strong></h5>
										<input class="form-control" ng-model="model.bussiness.address2" maxlength="50" type="text">
									</div>							
									
									<div class="form-group">
										<h5><strong>Business Phone</strong></h5><strong ng-show="!model.validFirstPhoneStep1Bool" class="validPhone1"><i class="fa fa-exclamation-triangle"></i>Please enter a 10 digit phone number.</strong>
										<input class="form-control" ng-model="model.bussiness.phone" maxlength="14" type="text" ng-change="model.formatTel(model.bussiness.phone,'model.bussiness.phone')" required>
									</div>
									<div class="form-group">
										<h5><strong>Business Phone 2 (Optional)</strong></h5><strong ng-show="!model.validSecondPhoneStep1Bool" class="validPhone2"><i class="fa fa-exclamation-triangle"></i>Please enter a 10 digit phone number.</strong>
										<input class="form-control" ng-model="model.bussiness.phone2" maxlength="14" ng-change="model.formatTel(model.bussiness.phone2,'model.bussiness.phone2')" type="text" >
									</div>

									<div class="form-group">
										<p><strong>Category</strong></p>
										<select class="form-control" ng-init="model.category=null" ng-model="model.category">
											<option ng-repeat="category in model.categoryList" value="{{category._id}}">{{category.name.en}}</option>										
										</select>
									</div>
									<div class="form-group row">
										
										<div ng-class="{'col-md-12':model.isSelected(0), 'col-md-6':!model.isSelected(0)}" ng-hide="model.isSelected(3)">
											<a ng-click="model.next()" class="btn btn-lg wrum-positive-button btn-block col-md-6">Next</a>
										</div>
									</div>
								</div>
							</fieldset>
						</form>

						<!-- Contact Information step -->
						<!-- Contact Information step -->
						<!-- Contact Information step -->
						<form  name ='contactInformationForm'role="form" ng-show="model.isSelected(1)" novalidate>
							<fieldset>
								<h4 class="panel-title title-centered"><strong>VRüM Login Account</strong> <h4>
								<div class="col-md-6">
									<div class="form-group">
										<h5><strong>Your First Name</strong></h5>
										<input class="form-control" ng-model="model.contact.name"  type="text" maxlength="50"autofocus required>
									</div>
									<div class="form-group">
										<h5><strong>Your Last Name</strong></h5>
										<input class="form-control" ng-model="model.contact.lastName"  type="text" maxlength="50" required>
									</div>
									<div class="form-group">
										<h5><strong>Phone</strong></h5><strong ng-show="!model.validPhoneStep2Bool" id="validZipCode"><i class="fa fa-exclamation-triangle"></i>Please enter a 10 digit phone number.</strong>
										<input class="form-control" ng-model="model.contact.phone"  maxlength="14" type="text" ng-change="model.formatTel(model.contact.phone,'model.contact.phone')"required>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="">
										<div class="form-group">
											<h5><strong>Email</strong> <strong ng-show="!model.emailAvailable"style="color:red;"><i class="fa fa-exclamation-triangle"></i>This e-mail is not available</strong></h5>
											<input class="form-control" ng-model="model.contact.email" type="text" ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/"  ng-focus="model.emailFocus=true;blur=false;" ng-blur="blur=true;model.emailFocus=false;" maxlength="50"required>
										</div>
										<div class="form-group">
											<h5><strong>Password</strong></h5>
											<input class="form-control" ng-model="model.contact.password"  type="password" maxlength="50"required>
										</div>
										<div class="form-group">
											<h5><strong>Confirm Password</strong></h5>
											<input class="form-control" ng-model="model.contact.confirmationPassword"  type="password"maxlength="50" required>
										</div>
									</div>
									
									<div class="form-group row">
										<div style='margin-bottom:10px;'ng-class="{'col-md-12':model.isSelected(3), 'col-md-6':!model.isSelected(3)}" ng-hide="model.isSelected(0)">
											<a ng-click="model.back()" class="btn btn-lg wrum-positive-button btn-block col-md-6">Back</a>
										</div>
										<div ng-class="{'col-md-12':model.isSelected(0), 'col-md-6':!model.isSelected(0)}" ng-hide="model.isSelected(3)">
											<a ng-click="model.next()" class="btn btn-lg wrum-positive-button btn-block col-md-6">Next</a>
										</div>

									</div>
								</div>
							</fieldset>
						</form>
						
						
					<!-- MHP step -->
					<!-- MHP step -->
					<!-- MHP step -->
					<div class="mhp-step" ng-show="model.isSelected(2)">
						<div class="col-md-6 mhp-step">
								
							<div input-mobile url='assets/no_file_mhp.png' type='mhp'></div>
							
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<p>Here’s what you need to do to create your mobile home page. It’s as easy as making a flyer or taking a photo. You can do this now or return later</p>
								<p>1. Create a flyer in Microsoft Word or your preferred tool. Or, take a photo.</p>
								<p style='text-indent: 0.6em'><span class="link-between-global" href="" ng-click='model.showImageExamples("mhp")' >Click here</span> for some examples.</p>
								<p>2. Save the file as either a .pdf, .jpg, .png, or .gif.</p>
								<p>3. Click on the mobile image to upload your mobile home page.</p>
								
							</div>							
							

							<div class="form-group row" id='buttons-mhp'>
								<div class="form-group col-md-4 " ng-model="inputModel" tooltip="Don’t have a Mobile Home Page to upload?  You can just create a document with your business name, address and hours of operation, convert it to either a .pdf, .jpeg, .png or .gif and upload it now.  You can change it anytime." tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
									<a ng-click="model.skip()" class="btn btn-lg wrum-positive-button btn-block col-md-3"
									 >Skip</a>
								</div>
								<div class="form-group col-md-4">
									<a ng-click="model.back()" class="btn btn-lg wrum-positive-button btn-block col-md-3">Back</a>
								</div>

								<div class="form-group col-md-4">
									<a ng-click="model.next()" class="btn btn-lg wrum-positive-button btn-block col-md-3" ng-show='model.existMHP'>Next</a>
								</div>
							</div>
							<span>Your MHP and Specials will appear on VRuM mobile faster and crisper if you upload a file smaller than 500K.</span>	
						</div>
					</div>

					<!-- Create Special -->
					<!-- Create Special -->
					<!-- Create Special -->
					<div class="row info-container" ng-show="model.isSelected(3)">
						<div id='special-info'class="form-group">
								<p>Do you have a promotion going that you would like to advertise? Then you need to create a Special. 
								Create your Special the same way you created your Mobile Home Page. You can do this now or return later.</p>
								<p>1. Create a flyer in Microsoft Word or use your preferred tool. Or, add a photo. </p>
								<p style='text-indent: 0.6em'>Click <a id="link-between" href="" ng-click='model.showImageExamples("special")' >here</a> for some examples. </p>
								<p>Notice that there are three types of Specials.</p>
								<p>- Informational</p>
								<p>- One time redeemable</p>
								<p>- Multiple times redeemable</p>
								<p>All Specials can have an expiration date.</p>
								<p>2. Save the file as either a .pdf, .jpeg, .png or .gif.</p>
								<p>3. Choose the type of Special. (You can make multiple 
								types of Specials.) If time sensitive or redeemable enter 
								in the appropriate data.</p>
								<p>4. Then click on the mobile image to upload your Special.</p>
						</div>	
						<div class="row" id='info-container'>
							<div class="col-md-6 mhp-step">
								<div input-mobile url='assets/no_file_special.png' type='special'></div>
								
							</div>

							<form name="campaingInfoForm" role="form">
								<div class="col-md-5">
							
									<p><strong>Name of Special</strong></p>
									<div class="form-group">
										<input class="form-control" ng-model="model.nameSpecial" type="text" maxlength="50"required>
									</div>
									<!--
									<div class="form-group">
										<p><strong>Description (Optional):</strong></p>
										<input class="form-control" ng-model="model.descriptionEnglish" type="text" >
									</div>
									-->
									<div class="form-group">
										<p><strong>Type of Special</strong></p>
										<select class="form-control" ng-init="model.type=null" ng-model="model.type">
											<option value="info">Informational</option>
											<option value="one_time">One time Redeemable</option>
											<option value="multi">Multiple Times Redeemable</option>
										</select>
									</div>

									<div class="form-group row">
										<div class="col-md-6">
											<p><strong>Start Date</strong></p>
											<p class="input-group">
												<input type="text" class="form-control" ng-change="changedDateStart()" datepicker-popup="{{format}}" ng-model="dtStart" is-open="openedStart" min-date="minDate" max-date="'2050-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</div>
										<div class=" col-md-6 timePic" >
											<timepicker ng-model="mytimeStart" ng-change="changedTimeStart()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ></timepicker>
										</div>									
									</div>									
									
									<div class="form-group row">
										<div class="col-md-6">
											<p><strong>End Date</strong></p>
											<p class="input-group">
												<input type="text" class="form-control" ng-change="changedDateFinish()" datepicker-popup="{{format}}" ng-model="dtFinish" is-open="openedFinish" min-date="minDate" max-date="'2050-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="openFinish($event)"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</div>
										<div class="col-md-6 timePic">
											<timepicker ng-model="mytimeFinish" ng-change="changedTimeFinish()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ></timepicker>
										</div>
										<strong ng-show="!model.datesCorrectBool"style="color:red;margin-left: 17px;"><i class="fa fa-exclamation-triangle"></i>Start Date Must Be Less Than End Date</strong>
									</div>
									
									<div class="form-group row">
										<div class="form-group col-md-4 " ng-model="inputModel" tooltip="Don’t have a Special to upload?  You can just create a document with your Special information, convert it to either a .pdf, .jpeg, .png or .gif and upload it now." tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
											<a ng-click="model.skip()" class="btn btn-lg wrum-positive-button btn-block col-md-3" >Skip</a>
										</div>
										<div class="form-group col-md-4">
											<a ng-click="model.back()" class="btn btn-lg wrum-positive-button btn-block col-md-3">Back</a>
										</div>

										<div class="form-group col-md-4">
											<a ng-click="model.next()" class="btn btn-lg wrum-positive-button btn-block col-md-3 " ng-show='model.myFileSpecial!=="assets/no_file.png" && model.nameSpecial!==null && model.type!==null'>Next</a>
										</div>
									</div>
									<span style="color: #024457;">Your MHP and Specials will appear on VRuM mobile faster and crisper if you upload a file smaller than 500K.</span>	
								
								</div>
							</form>
						</div>
							
					</div>

					<!-- ///////Create Special -->
					<!-- ///////Create Special -->
					<!-- ///////Create Special -->


					<!-- Confirm step -->
					<!-- Confirm step -->
					<!-- Confirm step -->
					<div id="confirmStepContainer"class="row info-container" ng-show="model.isSelected(4)">
						<div class="col-md-6">
							<a href>
								<div class='confirmStepBox' ng-click="model.setSelected(0) " ng-init="isSelected=false"ng-mouseover="isSelected=true" ng-mouseout="isSelected=false" ng-class="{'confirmStepBoxSelected': isSelected}">
									<h4><strong>Business information</strong> </h4>
									<p><strong>Name: </strong>{{model.bussiness.name}}</p>
									<p><strong>Address 1: </strong>{{model.bussiness.address1}} {{model.bussiness.city}}, {{model.bussiness.state}}   {{model.bussiness.zipCode}}</p>
									<p ng-show"model.bussiness.address2"><strong>Address 2: </strong>{{model.bussiness.address2}}</p>
									<p><strong>Phone: </strong>{{model.bussiness.phone}}</p>
									<p><strong>Phone2: </strong>{{model.bussiness.phone2}}</p>
								</div>
							</a>
						</div>							
								
						<div class="col-md-6">
							<a href >
								<div  class='confirmStepBox' ng-click="model.setSelected(1) " ng-init="isSelected1=false"ng-mouseover="isSelected1=true" ng-mouseout="isSelected1=false" ng-class="{'confirmStepBoxSelected': isSelected1}">
									<h4><strong>Contact Information</strong> </h4>
									<p><strong>Name: </strong>{{model.contact.name}}</p>
									<p><strong>Last Name: </strong>{{model.contact.lastName}}</p>
									<p><strong>Mobile Phone: </strong>{{model.contact.phone}}</p>
									<p ng-show"model.bussiness.phone2"><strong>Email: </strong>{{model.contact.email}}</p>
								</div>
							</a>							
							
						</div>
					</div>
					<!--  -->
					<div class="row info-container" ng-show="model.isSelected(4)">
						
						<div class="col-md-6 mhp-step " >
							<div class='confirmStepBoxImage' ng-show='model.existMHP'ng-init="isSelected2=false"ng-mouseover="isSelected2=true" ng-mouseout="isSelected2=false" ng-class="{'confirmStepBoxSelected': isSelected2}" ng-click="model.setSelected(2)">
								<div preview-directive  type='mhp'></div>
								
								<!--
								<h4 ><strong>Your Mobile Home Page</strong></h4>
								<a href  ng-click="model.setSelected(2)"class='preview '>
									
									<img id='mobileImage' src="assets/mobile_mhp.png">
									<div id='myPreviewImageContainer' ng-show='!model.isMhpPDFBool'>
										<img id='myImageShow'ng-src="{{imageSrcMhp}}">	
									</div>

									<div id='myPdfContainer'ng-show='model.isMhpPDFBool'>		
										<iframe   ng-src="{{imageSrcMhpPDF}}"  style='height: 100%; margin-left: -27%; margin-top: -8%;'></iframe>
									</div>

								</a>-->
							</div>							
						</div>							
						<!--  -->
						<div class="col-md-6 mhp-step  " ng-click="model.setSelected(3)" >
							<div class='confirmStepBoxImage'  ng-show='model.myFileSpecial!=="assets/no_file.png" && model.nameSpecial!==null && model.type!==null'ng-init="isSelected3=false"ng-mouseover="isSelected3=true" ng-mouseout="isSelected3=false" ng-class="{'confirmStepBoxSelected': isSelected3}" ng-click="model.setSelected(3)" >

								<div preview-directive  type='special'></div>
								<!--
								<h4 ><strong>Your Special</strong></h4>
								<a href  ng-click="model.setSelected(3)"class='preview '>
									
									<img id='mobileImage' src="assets/mobile_mhp.png">
									<div id='myPreviewImageContainer' ng-show='!model.isSpecialPDFBool'>
										<img id='myImageShow'ng-src="{{imageSrcSpecial}}">	
									</div>

									<div id='myPdfContainer'ng-show='model.isSpecialPDFBool'>		
										<iframe   ng-src="{{imageSrcSpecialPDF}}"  style='height: 100%; margin-left: -27%; margin-top: -8%;'></iframe>
									</div>

								</a>-->
							</div>	
						</div>
						<div class="col-md-6 col-md-offset-3">
								<a ng-click="model.callServices()" class="btn btn-lg wrum-positive-button btn-block">Sign-up!</a>
							</div>
					</div>
						<!-- ////Confirm step -->
						
						<!-- ////Confirm step -->
				</div>
			</div>
		</div>
	</div>
</div>
</div>
