/* Less file for dashboard*/
#panel-campaign {
	position: relative;
	height: 56px;
	font-size: 22px;
	line-height: 34px;
}

.page-header-container {
	h1, h5 {
		display: inline-block;
	}

	h5 {
		margin-left: 20px;
		span {
			color:gray;
		}
	}

	h1 {
		span {
			color:gray;
		}
	}
}

.preview-campaign {
	min-height: 400px;
}

.panel-stadistics {
	.list-group {
		margin-bottom: 0;
	}
}

#preview-campaign-container {
	position: relative;
	height: 56px;
	font-size: 22px;
	line-height: 34px;
}

.dashboard-container {
	margin-top: 0px;

}

.vrum-logo {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  text-align: center;
  background-color: #89ac84;
  color: white;
  h1 {
	margin: 20px 0;
  }
}
.img-1{
  width: 135px;
}

.no-campaign {
	text-align: center;
	a {
		height: 200px;
		line-height: 200px;
	}
	
}
#updateVendorButton{
	margin-top: 20px;
	margin-bottom: 20px;
}
#editVendorMenu{
	padding: 0px 0px 0px 0px;
  //position: absolute;
  //top: 144px;
  //right: 5%;
  //z-index: 1;
  //left: -189px;
}
#buttonEditVendorMenu{
	background-color: #dddddd;
	color: black;
	border: none;
}
#campaignImage{
	max-height: 150px;
	max-width: 150px;
}
#campaignsCards{
	    border: 2px solid #DDDDDD;
        padding: 5px;
        cursor: pointer;
            overflow: hidden;
	p{
		    font-size: 16px;
    color: #656464;
	}
	a{
		margin: -42px 15px 10px 0px;
	}
	h3{
		height: 73px;
	}
	    
}
.campaignsCardSelected{

  box-shadow: 0px 0px 0px 05px #CBF1C5 inset;
  border: 2px solid #89ac84;
  background-color: #EFF7EE;
  border-color: #89ac84;
}
#campaignsCardsInactive{
	    border: 2px solid #DDDDDD;
         padding: 5px;
         cursor: pointer;
             overflow: hidden;

	p{
		    font-size: 16px;
    color: #656464;
	}
	a{
		margin: 0px 15px 10px 0px;
	}
	h3{
		height: 73px;
	}
}
.campaignsCardInactiveSelected{

  box-shadow: 0px 0px 0px 05px #F7BFBF inset;
  
}
#container{
	padding: 20px;
}
#previewMhp{
    height: 600px;
    margin-bottom: 45px;
}
#warningsContainer{
	background-color: initial;
}
#myMhpImage {
	    width: 177px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
#myPreviewImageContainer{
	  width: 189px;
    max-height: 302px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
#myPdfContainer{
    margin-top: 0px;
    margin-left: 0px;
    z-index: 1;
    width: 189px;
    height: 253px;
    overflow: hidden;
}  
#image-container{
	overflow: hidden;
    width: 189px;
    height: 317px;
    margin-top: 104px;
    margin-left: 55px;

}
#link-between{
	    display: initial;
	    color: #97AC84;
}
#containerActiveSpecials{
	    background-color: #FCFFFB;
}
#containerInactiveSpecials{
	    background-color:#FFFAFA;
}

#bodyShowMhpCard{
	height: 539px;
}