<div class="dashboard-container">
  <div class="row page-header-container" ng-init="showUpdateMenu = true">
    <div class="col-lg-12">
     <!-- Single button -->
    <div  id='editVendorMenu'  class="btn-group btn wrum-settings-button pull-right page-header" dropdown is-open="status.isopen">
      <button id='buttonEditVendorMenu' type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        <i class="fa fa-cog fa-fw"></i><span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="model.updateVendorInfo()">Edit My Account Info</a></li>
        <li><a ng-click="model.editMHP()">Update My Mobile Home Page</a></li>
        <li><a ng-click="model.changePassword()">Change Password</a></li>
        <li><a ng-click="model.addCampaign()">Create a New Special</a></li>
        <li>><a ng-click="model.logout()">Logout</a></li>
        
      </ul>
    </div>
    
    <a class="btn wrum-settings-button pull-right page-header" ng-click="model.goToPayments()"><i class="fa fa-credit-card fa-fw"></i></a>
      <h1 class="page-header">Welcome <span>{{model.vendor.name_original}}</span>!</h1> <h5> You are Signed as: <span>{{model.vendor.email}}</span></h5>

    </div>
   
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">

  </div>
  <!-- /.panel -->
  <div class="row" ng-init="showPreview = false">


<!--  Your Specials -->

    <div class="col-lg-8">
      <!-- WARNINGS-->
        <div class="col-lg-12">
          <div class="panel " id='warningsContainer'>
             <progressbar animate="false" value="model.progressValue" type="success" class="" ng-show="model.showProgressBarBool"><b>{{model.progressValue}}% Complete</b></progressbar>
            <strong ng-show="model.showProgressBarBool"> Notifications <i class="fa fa-bell-o"></i></strong> 
            <div class="alert alert-info " role="alert"  ng-show="!model.vendor.mobile_homepage " ng-click="model.editMHP()">
              <strong></strong ng-click="model.editMHP()"><a href="" class="alert-link">Create Your Mobile Home Page</a> 
            </div>

            <div class="alert alert-info  " role="alert" ng-show='!model.haveCampaigns' ng-click="model.addCampaign()">
              <strong ><a href="" class="alert-link">Create a Special</a> </strong> 
            </div>

            <div class="alert alert-warning" role="alert" ng-show="!model.havePayment" ng-click="model.goToPayments()">
            <strong ><a href="" class="alert-link">You are almost VRüMing. Click here to activate your account.</a> </strong> 
            </div>
          </div>
        </div>       
      <!-- /WARNINGS-->
      <!-- /WARNINGS-->
      <!-- /WARNINGS-->
      <!-- -->
      <div class="col-lg-12">
        <div class="panel panel-default " ng-click="model.editMHP()">
            <div id="panel-campaign"class="panel-heading">
              <i class="fa fa-book"></i> Your Mobile Home Page
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="bodyShowMhpCard">
                   <div preview-directive  type='mhp' dash="true"></div>
                </div>
             </div>
            <!-- /.panel-body -->
        </div>
      </div>
      <!-- -->
      <div class="col-lg-12">
        <div class="panel panel-default ">
            <div id="panel-campaign"class="panel-heading">
              <i class="fa fa-clock-o fa-fw"></i> Your Specials <a class="btn wrum-settings-button pull-right" ng-click="model.addCampaign()"><i class="fa fa-plus fa-fw"></i></a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <!--active CAMPAIGNS -->
              <div id="containerActiveSpecials"class="col-md-12 "ng-show="model.haveActiveCampaignsBool" >

                <h3>Active Specials</h3>
                <div class="col-md-3 panel" ng-repeat="campaign in model.vendor.campaigns">
                  <div id="campaignsCards"   ng-init="isSelected=false"  ng-mouseover="isSelected=true" ng-mouseout="isSelected=false" ng-class="{'campaignsCardSelected': isSelected}" ng-click="model.editCampaign(campaign)">
                      <div >
                        <h3><strong>{{campaign.name}}</strong></h3>
                        <div ng-show="campaign.expires"><!--Informacion opcional -->
                          <p><strong>Start:</strong> {{campaign.date_start | date:'dd/MMM/yyyy hh:mma'}}</p>
                          <p><strong>End:</strong> {{campaign.date_end | date:'dd/MMM/yyyy hh:mma'}}</p>
                        </div>
                        <p><strong>Time Left:</strong> {{model.timeRemaining(campaign.date_end)}}</p>
                        <p><strong>Views:</strong> {{campaign.views?campaign.views:0}}</p>
                        <p><strong>Redemptions:</strong> {{campaign.type==="info"?'N/A':campaign.redeemed_by.length}}</p>
                      </div>
                      <div class="row"><!-- ICONS -->
                       <!--<a class="btn wrum-settings-button pull-right" ><i class="fa fa-trash-o"></i></a> trash -->
                       <!--<a class="btn wrum-settings-button pull-right"><i class="fa fa-pencil"></i></a><!-- edit -->
                       <!--<a class="btn wrum-settings-button pull-right" ng-click="model.addCampaign()"><i class="fa fa-mobile"></i></a>  -->
                      </div><!-- //ICONS -->
                  </div>
                </div>
                
              </div>
                <!--INACTIVE CAMPAIGNS-->
              <div id="containerInactiveSpecials"class="col-md-12 "ng-show="model.haveInactiveCampaignsBool">
                <h3>Inactive Specials</h3>
                <div ng-repeat="campaign in model.inactive_campaigns"class="col-md-3 ">
                  <div id="campaignsCardsInactive"   ng-init="isSelected=false"  ng-mouseover="isSelected=true" ng-mouseout="isSelected=false"  ng-class="{'campaignsCardInactiveSelected': isSelected}" ng-click="model.editCampaign(campaign)">
                      <div >
                        <h3><strong>{{campaign.name}}</strong></h3>
                        <div ng-show="campaign.expires"><!--Informacion opcional -->
                          <p><strong>Start:</strong> {{campaign.date_start | date:'dd/MMM/yyyy hh:mma'}}</p>
                          <p><strong>End:</strong> {{campaign.date_end | date:'dd/MMM/yyyy hh:mma'}}</p>
                        </div>
                        <p ng-show="campaign.type!== 'info'"><strong>Time Left:</strong> {{model.timeRemaining(campaign.date_end)}}</p>
                      </div>
                      <div class="row"><!-- ICONS -->
                       <!--<a class="btn wrum-settings-button pull-right" ><i class="fa fa-trash-o"></i></a> trash -->
                      <!-- <a class="btn wrum-settings-button pull-right"><i class="fa fa-pencil"></i></a><!-- edit -->
                       <!--<a class="btn wrum-settings-button pull-right" ng-click="model.addCampaign()"><i class="fa fa-mobile"></i></a>  -->
                      </div><!-- //ICONS -->
                  </div>
                </div>
                
              </div>
               <!--///SHOW CAMPAIGNS -->
               <div class="no-campaign" ng-show="!model.haveCampaigns" >
                <h5><a ng-click="model.addCampaign()" href>You don't have active specials, click here or <i class="fa fa-plus fa-fw"></i> to create a new special</a></h5>
              </div>
             </div>
            <!-- /.panel-body -->
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default panel-stadistics">
          <div class="panel-heading">
              <i class="fa fa-bell fa-fw"></i> Vendor Stats
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="list-group">
                <a href="" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> VRüM Followers
                    <span class="pull-right text-muted small"><em>{{model.vendor.followers['length']}}</em>
                    </span>
                </a>
                <a href="" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> Active Specials
                    <span class="pull-right text-muted small"><em>{{model.vendor.campaigns['length']}}</em>
                    </span>
                </a>
               <!-- <a href="" class="list-group-item">
                    <i class="fa fa-envelope fa-fw"></i> Total Specials
                    <span class="pull-right text-muted small"><em>{{model.vendor.inactive_campaigns['length']+model.vendor.campaigns['length']}}</em>
                    </span>
                </a>-->
                <a href="" class="list-group-item">
                    <i class="fa fa-tasks fa-fw"></i> Total Redemptions
                    <span class="pull-right text-muted small"><em>{{model.vendor.analytics.redemptions}}</em>
                    </span>
                </a>
            </div>
        </div>
          <!-- /.panel-body -->
      </div>

      <div class="panel panel-default panel-stadistics">
          <div class="panel-heading">
              <i class="fa fa-bell fa-fw"></i> VRüM Stats
          </div>
        
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="list-group">
                <a href="" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> VRüM Vendors
                    <span class="pull-right text-muted small"><em>{{model.VRUM_STATS.vendors}}</em>
                    </span>
                </a>
                <a href="" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> VRüM Users
                    <span class="pull-right text-muted small"><em>{{model.VRUM_STATS.users}}</em>
                    </span>
                </a>
                <a href="" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> VRüM Followers
                    <span class="pull-right text-muted small"><em>{{model.VRUM_STATS.followers}}</em>
                    </span>
                </a>
               <!-- <a href="" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> Active Specials
                    <span class="pull-right text-muted small"><em>{{model.VRUM_STATS.active_specials}}</em>
                    </span>
                </a>-->
                <a href="" class="list-group-item">
                    <i class="fa fa-envelope fa-fw"></i> Total Views
                    <span class="pull-right text-muted small"><em>{{model.VRUM_STATS.views}}</em>
                    </span>
                </a>
                <a href="" class="list-group-item">
                    <i class="fa fa-envelope fa-fw"></i> Total Specials
                    <span class="pull-right text-muted small"><em>{{model.VRUM_STATS.total_specials}}</em>
                    </span>
                </a>
                <a href="" class="list-group-item">
                    <i class="fa fa-tasks fa-fw"></i> Total Redemptions
                    <span class="pull-right text-muted small"><em>{{model.VRUM_STATS.redemptions}}</em>
                    </span>
                </a>
            </div>
        </div>
          <!-- /.panel-body -->
      </div>
    </div>

  </div>
  <!-- /.row -->
</div>