<div class="row" >
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div id="panel-campaign"class="panel-heading">
          <i class="fa fa-cog fa-fw"></i> Edit My Account Info 
        </div>
        
        <!-- </div> -->
        <div class="row" >
          <form name="bussinesInformationForm" role="form" class="col-md-12">
            <fieldset>              
                <div class="col-md-6">
                  <div class="form-group">
                    <h5><strong>Name of Business</strong></h5>
                    <input class="form-control" ng-model="model.userInfo.name_original"  type="text" maxlength="50" autofocus required>
                  </div>                  
                  
                  <div class="form-group " >                  
                    <h5><strong>Zip Code</strong></h5>
                    <input class="form-control" ng-model="model.userInfo.main_address.zip" maxlength="5"  ng-change="getZipCode()" type="text" tooltip="Just write your zip code and the city and state will be fill automatically." tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-enable="!model.userInfo.main_address.zip" novalidate required>                    
                  </div>  
                  <div class="form-group">
                    <h5 ><strong>City</strong></h5>
                    <input class="form-control" ng-model="model.userInfo.main_address.city"  type="text" ng-disabled="true"required>
                  </div>
                  <div class="form-group">
                    <h5 ><strong>State</strong></h5>
                      <input class="form-control" ng-model="model.userInfo.main_address.state"  type="text" ng-disabled="true"required>
                  </div>    
                  <div class="form-group">
                    <h5><strong>Address 1</strong></h5>
                    <input class="form-control" ng-model="model.userInfo.main_address.street1"  type="text" maxlength="50" required>
                  </div>      
                  
                  <div class="form-group">
                    <h5><strong>Address 2 (Optional)</strong></h5>
                    <input class="form-control" ng-model="model.userInfo.main_address.street2" maxlength="50"  type="text">
                  </div> 
                  <div class="form-group">
                    <h5><strong>Business Phone</strong></h5><strong ng-show="!model.validBusinessPhone" class="validPhone1"><i class="fa fa-exclamation-triangle"></i>Please enter a 10 digit phone number.</strong>
                    <input class="form-control" ng-model="model.userInfo.main_address.phone" maxlength="14" type="text" ng-change="model.formatTel(model.userInfo.main_address.phone,'model.userInfo.main_address.phone')" required>
                  </div>
                  <div class="form-group">
                    <h5><strong>Business Phone 2 (Optional)</strong></h5><strong ng-show="!model.validBusinessPhone2" style="color: red;"><i class="fa fa-exclamation-triangle"></i>Please enter a 10 digit phone number.</strong>
                    <input class="form-control"  ng-model="model.userInfo.main_address.phone2 " maxlength="14" ng-change="model.formatTel(model.userInfo.main_address.phone2,'model.userInfo.main_address.phone2')" type="text" >
                  </div>          
                  <div class="form-group">
                    <p><strong>Category</strong></p>
                    <select class="form-control"  ng-model="model.category">
                      <option value="">{{model.categoryCurrent}}</option>
                      <option ng-repeat="category in model.categoryList" value="{{category._id}}">{{category.name.en}}</option>                   
                    </select>
                  </div>
                  
                </div>
              

              <div class="col-md-6">
                <h4 class=""><strong>Contact Information</strong></h4>
                <h5><strong>Your First Name</strong></h5>
                <input class="form-control" type="text" ng-model="model.userInfo.contact_info.name" maxlength="50" required>
                <h5><strong>Your Last Name</strong></h5>
                <input class="form-control" type="text" ng-model="model.userInfo.contact_info.lastname" maxlength="50" required>
                <h5><strong>Phone</strong></h5><strong ng-show="!model.validPhone" class="validPhone1"><i class="fa fa-exclamation-triangle"></i>Please enter a 10 digit phone number.</strong><input class="form-control"  ng-model="model.userInfo.contact_info.phone"  maxlength="14" type="text" ng-change="model.formatTel(model.userInfo.contact_info.phone,'model.userInfo.contact_info.phone')"required>

                <div class="row col-md-12 buttonsContainer" >
                    <div class='col-md-6'>
                       <a  id="updateVendorInfoButton"class="btn btn-lg wrum-positive-button btn-block"ng-click="model.updateVendorInfoFunction()" >Update</a>
                    </div>
                    <div class='col-md-6'>
                       <a  id="updateVendorInfoButton"class="btn btn-lg wrum-positive-button btn-block"ng-click="model.dismissDialog()" >Cancel</a>
                    </div>
                    
                </div>

              </div>
            </fieldset>
          </form>
          
        </div>
         

      </div>
    </div>
</div>