/* Less file for UpdateVendorInfo*/
#updateVendorInfo{
	align-items: center;
  display: flex;
  justify-content: center;
}
#updateVendorInfoButton{
    margin-bottom: 10px;
    margin-top: 0px;
}
.buttonsContainer{
	    margin-top: 25px;
    margin-left: 0px;
}

