<!DOCTYPE html>
<html ng-app="vrumProject" ng-controller="AppController" class="no-js ba-body">
<div id="mydiv">
  <img height="50" width="50" src="assets/ajax_loader.gif" class="ajax-loader"/>
</div>
  <head>
    <meta charset="utf-8">
    <title ng-bind="pageTitle"></title>
    <!-- font awesome from BootstrapCDN -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
  <div class="vrum-logo">
    <div align="center">
      <img class="img-1" src="assets/logo.png"/>
    </div>
  </div>
    <div class="container" ui-view="main"></div>
  </body>
 <div class="footer" class="container">
    <small>V 1.0.3 - Test</small>
   </div>
</html>
